/* Full-width Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 1px;
    background-color: #FFA500; /* Orange color */
    color: #ca7b31;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .navbar-left,
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .navbar-icon {
    font-size: 1.5rem;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .navbar-icon:hover {
    color: #ffebcd; /* Light hover effect */
  }
  